html.dashboard, body.dashboard, #dashboard {
    background-color: #232323;
    color: #585858;
}

.span8 {
    width: 450px;
}

.widget.autoHeight,
.widget.autoHeight .body {
    height: auto;
}

.widget .positive {
    color: #77AB13;
}
.widget .negative {
    color: #BB3118;
}

.widget .panel {
    background-color: #282828;
    padding: 10px 15px;
    border-bottom: 1px solid #121212;
}

.widget .content {
    padding: 8px 15px;
}
.widget .header h4 {
    border: medium none;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.widget .header h4 span {
    font-size: 130%;
    font-weight: bold;
}
.widget {
    background-color: #373737;
    color: #FFFFFF;
    float: left;
    margin: 5px 0px 10px 10px;
}
.widget * {
    color: #FFFFFF;
}

.widget.hidden {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0px;
}

.widget .header {
    border-bottom: 1px solid #131313;
    border-top: 1px solid #414141;
    height: 15px;
    padding: 8px 15px 10px;
}

.widget .body {
    border-bottom: 1px solid #131313;
    border-top: 1px solid #515151;
    overflow: hidden;
    height: 130px;
}
.widget .body:last-child {
    height: 162px;
}

.widget.expandable,
.widget.expandable .body {
    height: auto;
}

.widget.short .body:last-child {
    height: 42px;
}
.widget.short .panel {
    padding: 8px 10px;
    margin: 4px 5px;
    background: #181818;
}


.h-dashboard .h-widget-1-1 .body, .h-dashboard .h-widget-2-1 .body, .h-dashboard .h-widget-3-1 .body, .h-dashboard .h-widget-4-1 .body, .h-dashboard .h-widget-5-1 .body {
    height: 90px;
}
.h-dashboard .h-widget-1-2 .body, .h-dashboard .h-widget-2-2 .body, .h-dashboard .h-widget-3-2 .body, .h-dashboard .h-widget-4-2 .body, .h-dashboard .h-widget-5-2 .body {
    height: 280px;
}
.widget .footer {
    background-color: #272727;
    border-bottom: 1px solid #131313;
    border-top: 1px solid #414141;
    color: #666666;
    height: 20px;
    padding: 5px 15px;
}
.widget .text-XXL {
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -4px;
    line-height: 56px;
    text-shadow: 0 0 8px black;
}
.widget .text-XL {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 48px;
    text-shadow: 0 0 6px black;
}
.widget .text-L {
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
}
.widget .text-L.icon {
	padding-left: 36px;
}
.widget .text-L.icon.positive {
	background: url(../gfx/icons/up_l.png) no-repeat 0 8px transparent;
}
.widget .text-L.icon.negative {
    background: url(../gfx/icons/down_l.png) no-repeat 0 8px transparent;
}
.widget .text-M {
    font-size: 18px;
    font-weight: bold;
}
.widget .h-widget-progressBar {
    border: 2px solid #292929;
    height: 26px;
    margin: 8px -2px;
    width: 100%;
}
.widget .h-widget-progressBar div {
    float: left;
    height: 100%;
}
.widget .progressBar .green {
    background-color: green;
}
.widget .progressBar.red {
    background-color: red;
}


.widget {
	height: 200px;
	float: left;
}

.widget.short {
	height: 80px;
}
.widget.short .body {
	height: 22px;
}

.widget.short .footer {
	display: none;
}
