#header {
	height: 110px;
}

#header h1 {
	margin: 0px auto;
	padding: 10px;
	font-size: 200%;
}


#body, #footer {
	clear: both;
	margin: 0px auto;
}

#body {
	padding: 10px 0px;
}

#footer {
	padding: 20px 15px 30px 15px;
}


