.buildpath
.project
.settings/
*.swp

##
# Composer and other build artifacts
/vendor
/composer.lock
/composer.phar
/phpunit.phar

##
# Configuration
#
/conf/*.js
!/conf/*.default.js
!/conf/demo.js
/conf/*.php
!/conf/*.dist.php
*.properties

##
# Build assets
#
/node_modules
/build
/htdocs/templates
/htdocs/widgets
/htdocs/dashboard.css
/htdocs/dashboard.js
/composer.*
!/composer.json

##
# Logs and data
#
/logs
/data
