.buildpath
.project
.settings/
*.swp

##
# Composer
/vendor
/composer.lock
/composer.phar

##
# Configuration
#
/conf/*.js
!/conf/*.default.js
!/conf/demo.js
/conf/*.php
!/conf/*.dist.php
*.properties

##
# Build assets
#
/build
*.min.js
*.min.css
/htdocs/templates
/htdocs/widgets
/htdocs/dashboard.css
/htdocs/dashboard.js
/composer.*
!/composer.json

##
# Logs and data
#
/logs
/data
