##
# IDEs, editors
.buildpath
.project
.settings/
*.swp




##
# Configuration
#
/conf/*.js
!/conf/*.default.js
!/conf/demo.js
/conf/*.php
!/conf/*.dist.php
*.properties




##
# node, composer and other build assets/artifacts
#
/node_modules
/htdocs/templates
/composer.phar
/vendor
/phpunit.phar
/logs
/RELEASE*
/phar
/dashboard.phar
