html.dashboard, body.dashboard, #dashboard {
    background-color: #1C1C1C;
    color: #585858;
}

.container {
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}

dl.side-by-side {
	
}

dl.side-by-side dt {
	width: 40%;
	float: left;
	display: block;
}
dl.side-by-side dd {
	width: 56%;
	float: left;
	display: block;
}

.label-group {
	display: inline-block;
	float: right;
}

.widget .label-group [class*="label-"] {
	border: 1px #111 solid;
	float: left;
	display: inline-block;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.label-group [class*="label-"]:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.label-group [class*="label-"]:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
}

.label-group [class*="label-"].active {
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3) inset, 0 1px 0px rgba(0, 0, 0, 0.3);
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
}

.widget .label-group [class*="label-"] {
	padding: 2px 8px 3px 8px;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.10);
}
.label-group .label-on.active {
	color: #FFF;
	background-color: green;
}

.label-group .label-off.active {
	color: #FFF;
	background-color: red;
}

.widget .label {
	display: inline-block;
	padding: 2px;
}

.span-full-size {
    width: 100%;
}
.span27 {
    width: 1340px;
}
.span28 {
    width: 1390px;
}
.span29 {
    width: 1440px;
}
.span30 {
    width: 1490px;
}
.span31 {
    width: 1540px;
}
.span32 {
    width: 1590px;
}
.widget.autoHeight,
.widget.autoHeight .body {
    height: auto;
}

.widget .positive {
    color: #77AB13;
}
.widget .negative {
    color: #BB3118;
}

.widget .panel {
    background-color: #282828;
    padding: 6px 15px;
    border-bottom: 1px solid #121212;
    border-top: 1px solid #343434;
    margin: 0px 0px 4px 0px;
}

.widget .content {
    padding: 8px 15px;
}
.widget .header h4 {
    border: medium none;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.widget .header h4 span {
    font-size: 130%;
    font-weight: bold;
}
.widget {
    background-color: #373737;
    color: #FFFFFF;
    float: left;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000000;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(right bottom, circle farthest-corner, #373737 0%, #272727 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(right bottom, circle farthest-corner, #373737 0%, #272727 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(right bottom, circle farthest-corner, #373737 0%, #272727 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 994, color-stop(0, #373737), color-stop(1, #272727));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(right bottom, circle farthest-corner, #373737 0%, #272727 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at right bottom, #373737 0%, #272727 100%);
}

.widget.widget-clear {
    background: transparent;
    box-shadow: none;
    height: auto;
}

.widget.hidden {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0px;
}

.widget .header {
    border-bottom: 1px solid #131313;
    height: 15px;
    padding: 8px 15px 10px;
    background-color: #373737;
    border-radius: 3px 3px 0px 0px;
}

.widget .body {
    border-bottom: 1px solid #131313;
    border-top: 1px solid #515151;
    overflow: hidden;
    height: 130px;
}
.widget .body:last-child {
    height: 162px;
    border-radius: 0px 0px 3px 3px;
}

.widget .header:last-child {
    border-radius: 3px;
}
.widget.autoHeight,
.widget.autoHeight .body,
.autoHeight .body:last-child {
    height:auto
}

.widget.height2 {
	height: 410px;
}
.widget.height2 .body {
	height: 340px;
}

.widget.expandable,
.widget.expandable .body {
    height: auto;
}

.widget.short .body:last-child {
    height: 42px;
}
.widget.short .panel {
    padding: 8px 10px;
    margin: 4px 5px;
    background: #181818;
}


.h-dashboard .h-widget-1-1 .body, .h-dashboard .h-widget-2-1 .body, .h-dashboard .h-widget-3-1 .body, .h-dashboard .h-widget-4-1 .body, .h-dashboard .h-widget-5-1 .body {
    height: 90px;
}
.h-dashboard .h-widget-1-2 .body, .h-dashboard .h-widget-2-2 .body, .h-dashboard .h-widget-3-2 .body, .h-dashboard .h-widget-4-2 .body, .h-dashboard .h-widget-5-2 .body {
    height: 280px;
}
.widget .footer {
    background-color: #272727;
    border-top: 1px solid #414141;
    color: #666666;
    height: 20px;
    padding: 5px 15px;
    border-radius: 0px 0px 3px 3px;
}
.widget .text-XXL {
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -4px;
    line-height: 56px;
    text-shadow: 0 0 8px black;
}
.widget .text-XL {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 48px;
    text-shadow: 0 0 6px black;
}
.widget .text-L {
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
}
.widget .text-L.icon {
	padding-left: 36px;
}
.widget .text-L.icon.positive {
	background: url(/?static=/templates/hoborg/gfx/icons/up_l.png) no-repeat 0 8px transparent;
}
.widget .text-L.icon.negative {
    background: url(/?static=/templates/hoborg/gfx/icons/down_l.png) no-repeat 0 8px transparent;
}

.widget .text-S.icon {
    padding-left: 14px;
}
.widget .text-S.icon.positive {
    background: url(/?static=/templates/hoborg/gfx/icons/up_l.png) no-repeat -7px 5px transparent;
}
.widget .text-S.icon.negative {
    background: url(/?static=/templates/hoborg/gfx/icons/down_l.png) no-repeat -7px -12px transparent;
}

.widget .text-M {
    font-size: 18px;
    font-weight: bold;
}
.widget .h-widget-progressBar {
    border: 2px solid #292929;
    height: 26px;
    margin: 8px -2px;
    width: 100%;
}
.widget .h-widget-progressBar div {
    float: left;
    height: 100%;
}
.widget .progressBar .green {
    background-color: green;
    }
.widget .progressBar.red {
    background-color: red;
}


.widget {
	height: 200px;
	float: left;
}

.widget.short {
	height: 80px;
}
.widget.short .body {
	height: 22px;
}

.widget.short .footer {
	display: none;
}

.widget .card {
	background: none repeat scroll 0 0 #FFFFDD;
	border-bottom: 1px solid #A7A7A7;
	color: #000000;
	margin: 2px 5px 10px 5px;
	padding: 6px;
}
.widget .card * {
	color: #000000;
}

.widget .card h4 {
	font-size: 18px;
    line-height: 22px;
}
.widget .card h4 span {
    font-size: 13px;
}

.widget.done .card {
	width: 43%;
	float: left;
}
.widget.done .card h4 {
    font-size: 12px;
}
.widget.done img.assignee {
	display: none;
}

table.simple {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
table.simple,
table.simple tr,
table.simple th,
table.simple td {
	border: 0px;
    padding: 0px;
    margin: 0px;
}

table td.right,
table th.right {
	text-align: right;
	padding-right: 6px;
}

col.t30 { width: 30% }
col.t20 { width: 20% }

.widget .twtr-hd {
	display: none;
}

.media {}
.media-body {overflow:hidden; _overflow:visible; zoom:1;}
.media-img {float:left; margin-right: 10px;}
.media-img img{display:block;}
.media-imgExt {float:right; margin-left: 10px;}

.matrix{
    margin:0;
    padding:0;
    list-style:none;
}
    .matrix > li{
        float:left;
        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box;
    }
    .one-col > li{
        width:100%;
    }
    .two-col > li{
        width:50%;
    }
    .three-col > li{
        width:33.333%;
    }
    .four-col > li{
        width:25%;
    }
    .five-col > li{
        width:20%;
    }
    .matrix .full{
        width:100%;
    }


/*
 LIST
*/
.ul-inline {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
    .ul-inline li {
        display: inline-block;
        list-style: none;
        margin-left: 5px;
    }