/**
 * CSS for dashboard.hoborglabs.com
 */

/**
 * Variables.
 */
@background: #1C1C1C;
@gutter: 10px;

body, div {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

img {
	max-width: 100%;
}

@import "grid.less";
@import "chart.less";
@import "widget.less";
@import "hoborg-widget.less";
